*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    padding-block: 8px;
}
.galeria{
    display: collums;
    columns: 3;
}

.galeria img{
    width: 100%;
    padding-block: 4px;
}

/* .container{
    display: flex;
    flex-direction: column;
    position: relative;
}
.container p{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #0009;
    padding: 10px;
} */