*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --personagem: attr(character);
}

body{
    background-color: black;
    color: white;
    padding-block: 8px;
}
.galeria{
    display: collums;
    columns: 3;
}

.galeria img{
    width: 100%;
    padding-block: 4px;
}

p{
    height: 3vh;
    opacity: 70%;
    content: var(--personagem);
    font-size: 1rem;
    text-align: center;
}